# macOS
.DS_Store

# VS Code
.vscode/

# Terraform
*.tfstate
.tfstate.
.terraform/

# Logs
*.log

# Environment files
.env

# Node modules (for future backend)
node_modules/

# Kubernetes config
kubeconfig